*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    background-color: #445863;
    padding: 12px;
}

.nav-menu img{
    height: 80px;
    border-radius: 200px;
}

a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 800;
}

a:hover{
    color: black;
}

.lista-menu{
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

section{
    width: 500px;
    height: 600px;
    background-color: #7a9cafd8;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 14px;
    margin: 50px auto;
    padding: 20px;
    border: 12px;
    box-shadow: 0 4px 0 #688596d8;
    border-radius: 8px;
}

section p{
    padding: 20px 5px;
    line-height: 1.5;
}

section h1{
    padding: 50px;
}

body{
    background-image: url(img/carro2.jpg);
    background-size: 100%;
}

.usuario{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 10px auto;
}

.usuario p{
    padding: 30px;
    margin: 0;
     font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.usuario a{
    display: flex;
    margin: 30px;
    background-color: #445863;
    height: 30px;
    border: none;
    border-radius: 8px;
}
h1{
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.formulario{
    width: 450px;
    height: 550px;
    background-color: #668292fa;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 14px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 70px;
    line-height: 1.5;
}

input{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 30px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    line-height: 1.5;
}
button:hover{
    background-color: #303d44;
    color: #e0e0e0;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #445863;
    color: white;
    border: 12px;
    box-shadow: 0 4px 0 #3a4a53;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.2s ease;
    height: 60px;
    width: 80px;
    padding: 10px;
    margin: 30px;
}