*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    background-color: #445863;
    padding: 12px;
}

.nav-menu img{
    height: 80px;
    border-radius: 200px;
}

a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 800;
}

a:hover{
    color: black;
}

.lista-menu{
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

section{
    width: 500px;
    height: 600px;
    background-color: #7a9cafd8;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 14px;
    margin: 50px auto;
    padding: 20px;
    border: 12px;
    box-shadow: 0 4px 0 #688596d8;
    border-radius: 8px;
}

section p{
    padding: 20px 5px;
    line-height: 1.5;
}
section h1{
    padding: 50px;
}

body{
    background-image: url(img/mecanico.jpg);
    background-size: 100%;
}

.usuario{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 10px auto;
}

.usuario p{
    padding: 30px;
    margin: 0;
     font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.usuario a{
    display: flex;
    margin: 30px;
    background-color: #445863;
    height: 30px;
    border: none;
    border-radius: 8px;
}