*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 30px;
    height: 100px;
    border: 3px solid #3a4a53;
    background-color: #445863;
    color: #e0e0e0;
    font-size: 30px;
    border-radius: 14px;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h1{
    display: flex;
    justify-content: center;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 70px;
    line-height: 3;
}

body{
    background-color: #ffffff;
    background-image: url(img/chave.jpg);
    background-size: 50%;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #445863;
    color: white;
    border: 12px;
    box-shadow: 0 4px 0 #3a4a53;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.2s ease;
    height: 60px;
    width: 80px;
    margin: 30px;
    text-decoration: none;
}
a:hover{
    background-color: #303d44;
    color: #e0e0e0;
}

div{
    width: 500px;
    height: 600px;
    background-color: #668292d8;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 14px;
}

input{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 30px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    line-height: 1.5;
}